<div><a asp-action="Create" asp-controller="Villas" class="btn btn-primary ">Add Villa</a></div>
<div><a asp-action="Create" asp-controller="Apartments" class="btn btn-primary ">Add Apartment</a></div>

