@model MakanProject.Models.Booking

<h2>Reserve a Villa </h2>

<form asp-action="Create" asp-controller="Bookings" method="post">
    <div>
        <label>Check-In Date:</label>
        <input asp-for="StartDate" type="date" class="form-control" />
    </div>
    <div>
        <label>Check-Out Date:</label>
        <input asp-for="EndDate" type="date" class="form-control" />
    </div>
    <input type="hidden" asp-for="VillaId" value="@Model.VillaId" />
    <button  type="submit" value="Save" class="btn btn-primary">Reserve</button>
</form>
    