@model MakanProject.Models.Request
@{
    ViewData["Title"] = "Send Request";
}
<h1>Write Your Request</h1>

<h4>Reqeust to add property</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="SendRequest" asp-controller="Request" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserNumber" class="control-label"></label>
                <input asp-for="UserNumber" class="form-control" />
                <span asp-validation-for="UserNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Content" class="control-label"></label>
                <input asp-for="Content" class="form-control" />
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="SendRequest" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>