@model MakanProject.Models.Request

@{
    ViewData["Title"] = "ShowRequest";
}

<h1>View Request</h1>

<div>
    <h4>Request</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Content)
        </dt>

    </dl>
</div>
<div>
    <a asp-action="Delete" asp-asp-controller="Request">Done</a>
</div>
